#header
{
  text-align: center;
  margin: 0 auto;
  background-color: #33733C;
  height: 50px;
  font-size: 40px;
  font: bold;
  color: #F0EE9A;
}
body
{
	background-color: black;
	color: #F0EE9A;
}
