header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #33733C;
    height: 90px;
    font-size: 40px;
    font-weight: bold;
    color: #F0EE9A;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.glow {
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #ffffff, 0 0 20px #fff, 0 0 30px #f39959, 0 0 40px #faa74c, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ffcf69, 0 0 40px #ffd34d, 0 0 50px #ffed4d, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

nav {
    background-color: #184501;
    color: #F0EE9A;
    height: 40px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #184501;
    border: none;
    color: #F0EE9A;
    height: 40px;
    line-height: 40px;
    width: 25%;
    font-size: 17px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: black;
    cursor: pointer;
    animation: glowb 1s ease-in-out infinite alternate;
}

.fbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #184501;
    border: none;
    color: #F0EE9A;
    height: 50px;
    line-height: 40px;
    width: 25%;
    font-size: 17px;
    transition-duration: 0.4s;
}

.fbutton:hover {
    border: 5px solid;
    border-color: #184501;
    background-color: black;
    cursor: pointer;
    animation: glowb 1s ease-in-out infinite alternate;
}

.reset-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: #184501;
    border: none;
    color: #F0EE9A;
    height: 50px;
    line-height: 40px;
    width: 15%;
    font-size: 17px;
    transition-duration: 0.4s;
}

.reset-button:hover {
    border: 5px solid;
    border-color: #184501;
    background-color: black;
    cursor: pointer;
    animation: glowb 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowb {
    from {
        text-shadow: 0 0 10px #ffffff, 0 0 20px #fff, 0 0 30px #ffdf69, 0 0 40px #ffdf69, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ffdf69, 0 0 40px #ffdf69, 0 0 50px #ffdf69, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

body {
    background-color: black;
    color: #F0EE9A;
    margin-left: 15%;
    margin-right: 15%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

h2 {
    padding-left: 20px;
    background-color: #184501;
}

.content {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: row-reverse;
}

.home {
    width: 80%;
}

article {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: justify;
}

a {
    color: #F0EE9A;
}

aside ul {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-right: 80px;
    /*height: 100%;*/
    list-style-type: none;
    /*padding-top: 40px;*/
    /*padding-bottom: 40px;*/
}

aside ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #F0EE9A;
    background-color: #275C14;
    /*padding: 20px;*/
    margin-bottom: 10px;
    /*padding-top: 30px;*/
    width: 150%;
    height: 40px;
    /*text-align: center;*/
    /*padding-top: 30px;*/
}

aside ul li:hover {
    cursor: pointer;
    animation: glowb 1s ease-in-out infinite alternate;
}

aside {
    display: flex;
    justify-content: flex-start;
    font-size: 17px;
    /*height: 800px;*/
    /*width: 20%;*/
    /*margin-bottom: 50px;*/
}

html {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(126, 161, 14, 1) 0%, rgba(184, 98, 17, 1) 100%);
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
    /*text-align: center;*/
    padding: 10px;
    margin-top: 30px;
}

.board {
    width: 300px;
    background: #f0f0f0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    display: grid;
    cursor: pointer;
    margin: 0 auto;
}

.box {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #F0EE9A;
    border: 1px solid #184501;
}

.box:hover {
    background: #2F4F4F;
}

.message {
    text-align: center;
    font-size: 24px;
}

.box--filled-X::before {
    position: absolute;
    content: "X";
    font-family: Arial;
}

.box--filled-O::before {
    position: absolute;
    content: "O";
    font-family: Arial;
}

.selection {
    padding-top: 20px;
    font-size: 20px;
}

select {
    background-color: #184501;
    color: #F0EE9A;
}

.message-label {
    min-height: 50px;
}

.break {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(126, 161, 14, 1) 0%, rgba(184, 98, 17, 1) 100%);
    height: 40px;
    width: 100%;
}

* {
    box-sizing: border-box;
}

@media (max-width: 480px) {
    nav {
        flex-direction: column;
        flex: 100%;
        align-items: center;
        height: 160px;
    }

    .button {
        width: 100%;
    }

    body {
        margin-left: 5%;
        margin-right: 5%;
    }

    aside ul {
        margin-right: 40px;
    }

    .fbutton {
        width: 50%;
    }

    .reset-button {
        width: 50%;
    }

    .board {
        width: 180px;
        grid-template-rows: repeat(3, 60px);
    }
}









/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}
